.btn-color{
  background-color: #2469ea;
  color: #fff;
}

.btn-exit-color{
  background-color: #da2323;
  color: #fff;
}


.profile-image-pic{
  height: 200px;
  width: 200px;
  object-fit: cover;
}



.cardbody-color{
  background-color: #ebf2fa;
}

a{
  text-decoration: none;
}